.main-div
{
    //border: 1px solid green;
    background-color: rgba($color: #000000, $alpha: 1);
    padding: 10px;
    color: #0066ff;
    
}

img
{
    width: 80px;
    height: 80px;
}

.heading-div
{
    display: inline-block;
}

h1
{
    font-family: "Pacifico", serif;
    font-weight: bold;
    font-size: 50px;
}

a
{
    margin-top: 25px;
    color: #0066ff;
}