<div class="main-div container border">
  
  <div class="list-items">
    
    <div class="item-div">Emad</div>
    <div class="item-div">How are you</div>
    <div class="item-div">Fine</div>
    <div class="item-div">Okay</div>
    <div class="item-div">Emad</div>
    <div class="item-div">How are you</div>
    <div class="item-div">Fine</div>
    <div class="item-div">Okay</div>
    <div class="item-div">Emad</div>
    <div class="item-div">How are you</div>
    <div class="item-div">Fine</div>
    <div class="item-div">Okay</div>

  </div>
</div>