<div class="main-div container">
  
    <div class="my-notes-header row">
        <h2 class="col-md-8" style="color: white;">{{ heading }}</h2>
    
        <a href="#" data-toggle="tooltip" data-placement="auto" title="Add image"><i class="fa fa-image fa-2x col-md-1" style="color: #ff5c33;"></i></a>
        <a href="#" data-toggle="tooltip" data-placement="auto" title="Remove"><i class="fa fa-trash fa-2x col-md-1" style="color: #e60000;"></i></a>
        <a (click)="saveNote()" data-toggle="tooltip" data-placement="auto" title="Save"><i class="fa fa-save fa-2x col-md-1" style="color: #0000b3;"></i></a>
        <a href="#" data-toggle="tooltip" data-placement="auto" title="Add"><i class="fa fa-plus fa-2x col-md-1" style="color: #00e600;"></i></a>  
    </div>

  <div class="row">

    <div class="container">
        
      
        <div class="row">
          
          <div class="col-md-4 h-75">
            <mn-my-notes-list></mn-my-notes-list>
          </div>
      
          <div class="col-md-8 h-75">
            <mn-my-notes-editor></mn-my-notes-editor>
          </div>
        </div>
      
      </div>
      
  </div>
</div>