<div class="main-div container">
  <div class="heading-div row">
    <h2 class="col-md-9">{{ heading }}</h2>

    <a href="#" data-toggle="tooltip" data-placement="auto" title="Remove"><i class="fa fa-trash fa-2x col-md-1" style="color: black;"></i></a>
    <a href="#" data-toggle="tooltip" data-placement="auto" title="Save"><i class="fa fa-save fa-2x col-md-1" style="color: black;"></i></a>
    <a href="#" data-toggle="tooltip" data-placement="auto" title="Add"><i class="fa fa-plus fa-2x col-md-1" style="color: black;"></i></a>
    
  </div>
</div>