<!--The content below is only a placeholder and can be replaced.-->
<div class="main-div" style="text-align:center">
  
  <div class="header-div">
    <header>
      {{ heading }}
    </header>
  </div>

  <h1>
    Welcome to {{ title }}
  </h1>

  <mn-my-notes-app></mn-my-notes-app>

  <div class="my-notes-app-div">
    <div class="my-notes-list-div">
      <mn-my-notes-list></mn-my-notes-list>
    </div>

    <div class="my-notes-editor-div">
      <mn-my-notes-editor></mn-my-notes-editor>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
